finance-agent/Finance_Agent_Dev.json
  {
    "nodes": [
      {
        "parameters": {
          "content": "## 🤖 AI Financial Analyst Workflow\n\n**What this does:**\nThis workflow creates an intelligent financial analyst agent that:\n- Receives user queries via webhook\n- Performs real-time internet research \n- Provides comprehensive financial analysis\n- Maintains conversation memory\n- Returns professional investment insights\n\n**Perfect for:** Stock analysis, market research, investment decisions, economic trends\n\n---\n\n📚 **Want to build more AI agents?**  \n[Learn ML System Design →](https://maven.com/boring-bot/ml-system-design)\n\n💻 **Get the source code:**  \n[GitHub: Agents in Action →](https://github.com/traversaal-ai/agents-in-action)",
          "height": 464,
          "width": 386,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-860, 20],
        "id": "a10c5ebd-44ae-4288-aa8c-3378853d889b",
        "name": "Workflow Overview"
      },
      {
        "parameters": {
          "content": "## 🎯 AI Agent Core\n\n**The Brain:** Expert financial analyst with:\n- Market knowledge\n- Economic trend analysis\n- Investment strategy expertise\n\nUses advanced prompt engineering for:\n- Query breakdown\n- Research strategy\n- Professional analysis framework\n\n---\n\n🚀 **Master AI Agent Development:**  \n[Take the Course →](https://maven.com/boring-bot/ml-system-design)",
          "height": 280,
          "width": 300
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-400, 40],
        "id": "7d63befb-e0d8-4c57-8e98-8550a3d79e81",
        "name": "AI Agent Info"
      },
      {
        "parameters": {
          "content": "## 🧠 GPT-4o Mini\n\n**Language Model:**\n- Cost-effective OpenAI model\n- Fast response times\n- Great for financial analysis\n- Handles complex reasoning\n\n**Pro Tip:** Upgrade to GPT-4 for even more detailed analysis!\n\n---\n\n📖 **Learn model selection strategies:**  \n[GitHub Examples →](https://github.com/traversaal-ai/agents-in-action)",
          "height": 240,
          "width": 280
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-400, 720],
        "id": "8d920ab1-78a9-4844-84da-177c0c01c7c0",
        "name": "Language Model"
      },
      {
        "parameters": {
          "content": "## 💭 Conversation Memory\n\n**Features:**\n- Remembers chat history\n- User-specific sessions\n- Context-aware responses\n- Follow-up questions work!\n\n**Session Key:** Uses username for personalized experience\n\n---\n\n🔧 **Explore memory patterns:**  \n[GitHub: Memory Systems →](https://github.com/traversaal-ai/agents-in-action)",
          "height": 220,
          "width": 280
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-60, 700],
        "id": "7f8460bc-2583-41f7-a778-6841f688521b",
        "name": "Memory System"
      },
      {
        "parameters": {
          "content": "## 🌐 Real-Time Research\n\n**Internet Search Tool:**\n- Live market data access\n- Latest financial news\n- Company earnings reports\n- Economic indicators\n\n**API:** Traversaal ARES engine for accurate, up-to-date information\n\n---\n\n⚡ **Build your own search tools:**  \n[Course: Tool Integration →](https://maven.com/boring-bot/ml-system-design)",
          "height": 260,
          "width": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [380, 660],
        "id": "0fe0d5af-f9e1-4e21-8f52-e652ad8d1796",
        "name": "Search Tool"
      },
      {
        "parameters": {
          "content": "## 📥 Webhook Input\n\n**Receives:**\n- username\n- query\n\n**Trigger:** POST requests from chatbot or external apps\n\n**Endpoint:** Ready for integration!\n\n---\n\n🔗 **API Integration Patterns:**  \n[GitHub Examples →](https://github.com/traversaal-ai/agents-in-action)",
          "height": 200,
          "width": 260
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [-500, 500],
        "id": "029ee0f1-d6d1-4fd5-9b7e-263bdc73f98a",
        "name": "Webhook Input"
      },
      {
        "parameters": {
          "content": "## 📤 Response Output\n\n**Returns:**\n- Professional financial analysis\n- Markdown formatted\n- Actionable insights\n- Data-driven recommendations\n\n**Format:** Clean text ready for display\n\n---\n\n📊 **Response Optimization:**  \n[Learn More →](https://maven.com/boring-bot/ml-system-design)",
          "height": 200,
          "width": 260
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [320, 80],
        "id": "da3d4822-e571-47b0-8f7f-40d128aa7c66",
        "name": "Response Output"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an expert financial analyst and investment advisor with deep knowledge of global markets, economic trends, and financial instruments.\n\nUser Query: {{ $json.body.query }}\nCurrent Date/Time: {{ $now }}\nCurrent Year: 2025\n\n## Your Mission:\nProvide a comprehensive, data-driven financial analysis for the user's query by leveraging real-time market information and economic data.\n\n## Research Strategy:\n1. **Break down the user's query** into 2-4 focused research questions that will provide the most valuable financial insights\n2. **Use the search tool strategically** - each search should target specific, current financial data\n3. **Prioritize recent information** - focus on 2024-2025 data, quarterly reports, and latest market developments\n\n## Search Query Guidelines:\n- Include specific timeframes (e.g., \"2024 Q4\", \"latest\", \"current\")\n- Target authoritative financial sources (Bloomberg, Reuters, SEC filings, earnings reports)\n- Search for both fundamental data (financials, ratios) and technical indicators when relevant\n- Look for expert analyst opinions and institutional research\n\n## Analysis Framework:\nAfter gathering data, structure your response to include:\n- **Executive Summary** - Key findings and recommendations\n- **Current Market Position** - Latest price/valuation data with context\n- **Financial Health Analysis** - Key metrics, ratios, and performance indicators  \n- **Risk Assessment** - Potential upside/downside factors\n- **Market Context** - How broader economic conditions affect this investment\n- **Actionable Insights** - Specific, practical recommendations with reasoning\n\n## Response Quality Standards:\n- Cite specific data points with approximate dates\n- Quantify your analysis with numbers, percentages, and comparisons\n- Acknowledge any limitations in available data\n- Use professional financial terminology appropriately\n- Provide balanced perspective showing multiple viewpoints when relevant\n\nRemember: Your goal is to deliver institutional-quality financial analysis that helps the user make informed decisions based on the most current available information.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [-100, 280],
        "id": "73338dc7-063c-4f3b-a899-1892a7ac0a3f",
        "name": "AI Agent",
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [-180, 560],
        "id": "425cb264-da6a-43aa-a938-4cc3f82f7299",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "1NYcjHdurohDfhOk",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.username }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [0, 580],
        "id": "d15546db-178e-47bb-93da-81583be5348b",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "toolDescription": "Search the Internet for information",
          "method": "POST",
          "url": "https://api-ares.traversaal.ai/live/predict",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "your_traversaal_api_key_here"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"query\": [\n    \"search query\"\n  ]\n}`, 'json') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [240, 560],
        "id": "402536ec-bc19-46c5-a894-33bed6f9d6a3",
        "name": "Internet Search"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d82c3854-146b-4212-b94e-5b0ca8d7075b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [-460, 340],
        "id": "ed84435d-7a91-4dca-a9ee-c40760a4d137",
        "name": "Webhook",
        "webhookId": "d82c3854-146b-4212-b94e-5b0ca8d7075b"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.output }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.3,
        "position": [260, 280],
        "id": "dd9dd307-9646-4dc3-b2a5-d7239824b14c",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Internet Search": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "1725aaf255f271a2cb370b9051de0a61864aaf0b262c35ad3f624929f92bfcff"
    }
  }
