401-webhook-rag-with-internet-search/401_webhook_rag_with_internet_search.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1104, 1728],
      "id": "eb7d2258-c24e-4842-8e6f-6928ce712ee7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AC6qDxlfvN76eReA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1344, 1728],
      "id": "1dfabfb3-7fcc-41dc-95a8-f0546a6c1bf5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1392, 1920],
      "id": "94c6375b-ee63-401d-b8f3-a46af871be1e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [656, 1504],
      "id": "e5e2e27b-d50c-452d-b4b9-19677feb9daf",
      "name": "When clicking 'Test workflow'"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1JdGsDWP8F7K8i8D_MRdPMZSCbPg4fzZR",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 1504],
      "id": "4e0e6581-b84c-4d62-9a11-9fc31d5f431f",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hh8J4NGtlm06CbHd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 301 — Webhook + RAG (AWS Agent)\n\n##  Document → Vector Store Ingestion Flow\n\n📋 Flow\nManual Trigger → Download File → Data Loader → Text Splitter → Embeddings → Vector Store\n\nResult:\nS3 knowledge base (vector store) is ready for the Agent to query\n\n",
        "height": 736,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [144, 1216],
      "typeVersion": 1,
      "id": "68d558e9-6d54-449f-983a-2943c84b8a53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "⬇️ DOWNLOAD FILE (Google Drive)\n- Pulls source doc from Drive by file ID\n- Replace with your own AWS/S3 doc\n- Triggered manually for ingestion\n",
        "height": 136,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [816, 1360],
      "typeVersion": 1,
      "id": "341fa047-891c-4111-8fb7-e9f5fac10857",
      "name": "Overview Explanation6"
    },
    {
      "parameters": {
        "content": "📂 DATA LOADER\n- Reads file contents into n8n\n- Converts into doc format for splitting\n",
        "height": 104,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1616, 1696],
      "typeVersion": 1,
      "id": "a5cd0638-dd56-4a32-946f-50f5bf54d30a",
      "name": "Overview Explanation7"
    },
    {
      "parameters": {
        "content": "📄 TEXT SPLITTER\n- Breaks doc into smaller chunks\n- Keeps semantic meaning per chunk\n",
        "height": 104,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1552, 1920],
      "typeVersion": 1,
      "id": "e095af72-f55c-4d51-822b-8f8bb3ed288d",
      "name": "Overview Explanation8"
    },
    {
      "parameters": {
        "content": "🔤 EMBEDDINGS + 📚 VECTOR STORE\n- Embeddings: convert text chunks → vectors\n- Vector Store: holds all chunks as searchable knowledge base\n- Used later by AWS Agent for S3 answers\n",
        "height": 168,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [752, 1696],
      "typeVersion": 1,
      "id": "2f9c9d8c-e7ed-4065-9df2-b7633238e416",
      "name": "Overview Explanation9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1216, 800],
      "id": "8eb4ac63-be30-4449-a8e7-87014c82f4e3",
      "name": "Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "AC6qDxlfvN76eReA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 401 — Webhook + RAG + Internet Search (AWS Knowledge Agent)\n\n🔁 Routing\n- S3 topics → **s3_knowledge_base** (vector tool)\n- Other AWS topics → **internet_search** (web search)\n- Non-AWS → polite refusal\n\n🧩 Flow\nWebhook → AI Agent → (Tools) → Respond to Webhook\n",
        "height": 736,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-336, 224],
      "typeVersion": 1,
      "id": "2ea08f7a-f71d-4c6d-a8ff-ab0158f11098",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🌐 WEBHOOK (POST)\n- Input: { query, username }\n- Use Production URL (workflow Active)\n- username = session key for memory\n",
        "height": 136,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [32, 480],
      "typeVersion": 1,
      "id": "9a7e0402-f76f-4343-b2ed-2f7a9346eab3",
      "name": "Overview Explanation1"
    },
    {
      "parameters": {
        "content": "🧠 AI AGENT (ROUTER)\n- No model-only answers (tools required)\n- If **S3** → use s3_knowledge_base\n- If **AWS not S3** → use internet_search\n- If **non-AWS** → refuse politely\n- Appends: source tag in the reply\n",
        "height": 200,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [864, 224],
      "typeVersion": 1,
      "id": "bfb08b09-f2bd-4ba4-8f68-1f03dd7956fb",
      "name": "Overview Explanation3"
    },
    {
      "parameters": {
        "content": "↩️ RESPOND TO WEBHOOK\nReturns AI reply to the caller\n- Plain text or small JSON (config)\n- Keep it simple for this level\n",
        "height": 120,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1440, 336],
      "typeVersion": 1,
      "id": "5d8e8f2f-1b2e-4553-89d1-ea438da037b5",
      "name": "Overview Explanation2"
    },
    {
      "parameters": {
        "content": "🗂️ MEMORY\n- sessionKey = username\n- Same user → shared context\n- Different user → fresh session\n",
        "height": 120,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [784, 752],
      "typeVersion": 1,
      "id": "d142baf0-2446-4051-93f7-ee9509b8f6aa",
      "name": "Overview Explanation4"
    },
    {
      "parameters": {
        "content": "🤖 OPENAI CHAT MODEL\n- Model: gpt-4o-mini\n- Fast + cost-effective\n- Used for non-S3 AWS answers\n",
        "height": 104,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [464, 752],
      "typeVersion": 1,
      "id": "e78b214b-0510-48c7-91cc-5975ea6c68f1",
      "name": "Overview Explanation5"
    },
    {
      "parameters": {
        "content": "🤖 OPENAI CHAT MODEL\nModel: gpt-4o-mini\n- Fast & cost-effective\n📚 VECTOR STORE (S3 KB)\n- Holds embedded S3 doc chunks\n- Queried when user asks S3 questions\n- Provides grounded answers\n",
        "height": 184,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1104, 928],
      "typeVersion": 1,
      "id": "c2bbdf9f-6a3d-4cfc-8788-1d7e5847319c",
      "name": "Overview Explanation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Agent specialized in Amazon Web Services (AWS).\nYou MUST NOT answer from your own model knowledge. All answers must come from tools.\n\nAVAILABLE TOOLS\n- s3_knowledge_base \n- internet_search\n\nCLASSIFICATION RULES (MANDATORY)\n- Treat the query as **AWS** if it mentions any of: aws, amazon web services, s3, ec2, lambda, dynamodb, rds, vpc, iam, cloudformation, eks, ecs, ecr, bedrock, glue, athena, redshift, elastic beanstalk, route 53, api gateway, cloudwatch, cloudtrail, kms, organizations, control tower.\n- If unsure or ambiguous, **assume AWS** and proceed with tools.\n- Only refuse when the topic is clearly non-AWS (e.g., cities, food, sports, movies, general trivia unrelated to cloud).\n\nROUTING (MANDATORY)\n- If the (assumed) topic is **S3** → MUST call **s3_knowledge_base** and answer ONLY from it.\n- If the (assumed) topic is **AWS but not S3** → MUST call **internet_search** and answer ONLY from it.\n- If the topic is clearly **non-AWS** → refuse with:\n  “I can only answer questions about Amazon Web Services. For example, you could ask about S3 lifecycle policies, EC2 instance types, or IAM roles.”\n\nANSWERING STYLE\n- Plain English; concise (2–3 sentences + optional bullets).\n- Append one of: “(Answer based on S3 knowledge base)”, “(Answer enriched with Internet Search results)”, or “(Refusal: non-AWS topic)”.\n\nSAFETY\n- No secrets/credentials/destructive steps. Remind users that AWS features/pricing can change; verify in official docs.\n\nContext:\nUser Query: {{ $json.body.query }}\nCurrent Date/Time: {{ $now }}\nCurrent Year: 2025\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [896, 432],
      "id": "7ff3f5be-5bf8-4d2b-9f75-7ea00760f203",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [640, 624],
      "id": "12fc4dfb-f0c2-46e0-86ba-33592c4ba4a5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "AC6qDxlfvN76eReA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [880, 624],
      "id": "b1cdc26e-e9ca-48d1-8ed5-84d409f2895f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d82c3854-146b-4212-b94e-5b0ca8d7075b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [416, 496],
      "id": "2e12aa43-7b5e-4262-b0bf-c5e54c2d9dda",
      "name": "Webhook1",
      "webhookId": "d82c3854-146b-4212-b94e-5b0ca8d7075b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [1504, 480],
      "id": "98198d54-401f-46db-84f3-44a2018741de",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "toolDescription": "Search the Internet for information",
        "method": "POST",
        "url": "https://api-ares.traversaal.ai/live/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "your_traversaal_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"query\": [\n    \"search query\"\n  ]\n}`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [1456, 672],
      "id": "cad983dd-93d7-4ef5-90f3-45742271bf98",
      "name": "internet_search"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search for information about Amazon S3 (Simple Storage Service). This contains details about S3 concepts, buckets, objects, permissions, pricing, and basic usage. ",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [1120, 656],
      "id": "071f12a2-1997-4863-8705-2098364c6577",
      "name": "s3_knowledge_base"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [1136, 1504],
      "id": "2e2fe082-d078-4b4a-8221-299688ea55e2",
      "name": "s3_knowledge_base1"
    },
    {
      "parameters": {
        "content": "🌐 INTERNET SEARCH (TOOL)\n- Purpose: Up-to-date info for **non-S3 AWS** topics\n- Tool name: **internet_search**\n- Input (REQUIRED): {\"query\": [\"<string>\", \"<string>\"]}\n- Sends POST to Ares; include x-api-key\n\nUses Traversaal ARES API",
        "height": 216,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1584, 672],
      "typeVersion": 1,
      "id": "1cb17f78-67e0-4628-87a1-e390d4e0cf08",
      "name": "Overview Explanation10"
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "s3_knowledge_base1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "s3_knowledge_base1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "s3_knowledge_base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "s3_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "internet_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "s3_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f3ea1091e7549d03d6d6af8d10ffb0eb258a70b8ac87a64741364349b14adc"
  }
}
