airbnb-agent/airbnb_agent.json
{
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        720
      ],
      "id": "e6048a5c-4960-4e26-b98a-2969684fcef9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1NYcjHdurohDfhOk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query.email }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        720
      ],
      "id": "d2777412-2be3-4442-b567-297c004809da",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -60,
        720
      ],
      "id": "ddf558d2-7147-4fd6-920b-52d9ede5e0ac",
      "name": "MCP Client List Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "qRsxixfSsCUdLJbo",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{$fromAI('tool','selected tool to execute')}}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        80,
        720
      ],
      "id": "775e24ff-d0b0-4648-8c1a-ca3df80dac87",
      "name": "MCP Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "qRsxixfSsCUdLJbo",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is a user query about Airbnb stays: {{ $json.query.query }}\n\n### \nPlease add a detailed description of the listing in the output. If the person has asked for a country, please mention that in the query and return the listing for a major city. If the price points seems too low or too high, please use the best of your judgement.\n\nAlways request and display prices in USD currency when searching Airbnb listings",
        "options": {
          "systemMessage": "=You're a helpful assistant.\n\n– Use the Airbnb MCP Tool to pull data from the Airbnb website in USD.\n\nStart by running listTools to see the available tools, then use executeTool to run the one that fits your task\n\nCurrent date and time {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -300,
        440
      ],
      "id": "6d973ec3-f877-463f-9cd7-653842f4dae3",
      "name": "AirBNB MCP AI Agent"
    },
    {
      "parameters": {
        "path": "2586fd7a-0113-4719-8038-9b59cbcea6e0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        300
      ],
      "id": "88376e05-6bd0-414c-a4f4-a685d8d19cb3",
      "name": "Webhook",
      "webhookId": "2586fd7a-0113-4719-8038-9b59cbcea6e0"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "=Airbnb Listings for {{ $json.output.search_location }}",
        "message": "=<div style=\"font-family: 'Poppins', Arial, sans-serif; max-width: 700px; line-height: 1.5; background: #ffffff; color: #2c3e50; padding: 30px;\">\n\n<div style=\"margin-bottom: 30px; padding-bottom: 20px; border-bottom: 2px solid #FF6B35;\">\n<h1 style=\"color: #2c3e50; margin: 0; font-size: 26px; font-weight: 600; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.search_location }} Accommodations</h1>\n<p style=\"color: #7f8c8d; margin: 8px 0 0 0; font-size: 15px; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.search_summary }}</p>\n<p style=\"color: #FF6B35; margin: 12px 0 0 0; font-size: 16px; font-weight: 600; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.total_listings_found }} properties • {{ $json.output.guest_count }} guests • {{ $json.output.price_range }}</p>\n</div>\n\n{{ $json.output.listings.map((listing, index) => `\n<div style=\"border: 1px solid #e1e8ed; border-radius: 8px; padding: 24px; margin: 25px 0; background: #ffffff; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n\n<div style=\"display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 16px;\">\n<h2 style=\"color: #FF6B35; margin: 0; font-size: 18px; font-weight: 600; font-family: 'Poppins', Arial, sans-serif; line-height: 1.3; flex: 1; padding-right: 16px;\">\n<a href=\"${listing.property_link}\" style=\"color: #FF6B35; text-decoration: none;\" target=\"_blank\">${listing.property_name}</a>\n</h2>\n<div style=\"display: flex; gap: 8px; align-items: center; flex-shrink: 0;\">\n<div style=\"background: #FF6B35; color: white; padding: 4px 10px; border-radius: 12px; font-size: 11px; font-weight: 500; font-family: 'Poppins', Arial, sans-serif; white-space: nowrap;\">\n${listing.guest_rating} ★ (${listing.review_count})\n</div>\n<div style=\"background: ${listing.value_assessment === 'Excellent Value' ? '#28a745' : listing.value_assessment === 'Good Value' ? '#17a2b8' : '#6c757d'}; color: white; padding: 4px 8px; border-radius: 12px; font-size: 10px; font-weight: 500; font-family: 'Poppins', Arial, sans-serif; white-space: nowrap;\">\n${listing.value_assessment}\n</div>\n</div>\n</div>\n\n<div style=\"margin-bottom: 16px;\">\n<p style=\"margin: 0 0 8px 0; font-size: 14px; color: #7f8c8d; font-family: 'Poppins', Arial, sans-serif;\"><strong>${listing.location_details}</strong> • ${listing.property_type} • ${listing.target_traveler}</p>\n<div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px; margin: 12px 0;\">\n<p style=\"margin: 0 0 8px 0; font-size: 14px; color: #2c3e50; font-family: 'Poppins', Arial, sans-serif; font-weight: 500;\">Key Features:</p>\n<p style=\"margin: 0; font-size: 13px; color: #2c3e50; font-family: 'Poppins', Arial, sans-serif;\">${listing.standout_features}</p>\n</div>\n</div>\n\n<div style=\"background: #e8f5e8; border-left: 3px solid #28a745; padding: 15px; margin: 15px 0; border-radius: 0 6px 6px 0;\">\n<p style=\"margin: 0 0 8px 0; font-size: 13px; color: #155724; font-weight: 600; font-family: 'Poppins', Arial, sans-serif;\">Why This Property:</p>\n<p style=\"margin: 0; font-size: 13px; color: #155724; font-family: 'Poppins', Arial, sans-serif; line-height: 1.4;\">${listing.why_recommended}</p>\n</div>\n\n<div style=\"display: flex; justify-content: space-between; align-items: center; padding-top: 16px; border-top: 1px solid #f1f3f4;\">\n<div style=\"flex: 1;\">\n<p style=\"margin: 0; font-size: 20px; font-weight: 600; color: #2c3e50; font-family: 'Poppins', Arial, sans-serif;\">${listing.total_price}</p>\n<p style=\"margin: 0; font-size: 12px; color: #7f8c8d; font-family: 'Poppins', Arial, sans-serif;\">5 nights • ${listing.cancellation_policy}</p>\n<div style=\"margin-top: 4px;\">\n<span style=\"background: ${listing.booking_urgency === 'High' ? '#dc3545' : listing.booking_urgency === 'Medium' ? '#ffc107' : '#28a745'}; color: ${listing.booking_urgency === 'High' ? 'white' : listing.booking_urgency === 'Medium' ? '#212529' : 'white'}; padding: 2px 8px; border-radius: 10px; font-size: 10px; font-weight: 500; font-family: 'Poppins', Arial, sans-serif;\">\n${listing.booking_urgency} Priority\n</span>\n</div>\n</div>\n</div>\n\n</div>\n`).join('') }}\n\n<div style=\"background: #f8f9fa; border: 1px solid #e9ecef; padding: 20px; border-radius: 8px; margin: 30px 0;\">\n<h3 style=\"color: #2c3e50; margin: 0 0 12px 0; font-size: 16px; font-weight: 600; font-family: 'Poppins', Arial, sans-serif;\">Expert Recommendation</h3>\n<p style=\"margin: 0 0 12px 0; font-size: 14px; color: #2c3e50; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.recommendation_summary }}</p>\n{{ $json.output.additional_search_link ? `<div style=\"margin: 16px 0 0 0;\"><a href=\"${$json.output.additional_search_link}\" style=\"color: #FF6B35; text-decoration: none; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\" target=\"_blank\">Browse more options →</a></div>` : '' }}\n</div>\n\n<!-- Course CTA -->\n<div style=\"background: linear-gradient(135deg, #FF6B35 0%, #e55100 100%); color: white; padding: 24px; border-radius: 8px; margin: 30px 0; text-align: center;\">\n<h3 style=\"color: white; margin: 0 0 12px 0; font-size: 18px; font-weight: 600; font-family: 'Poppins', Arial, sans-serif;\">🚀 Want to Build Your Own AI Systems Like This?</h3>\n<p style=\"margin: 0 0 16px 0; font-size: 14px; color: rgba(255,255,255,0.9); font-family: 'Poppins', Arial, sans-serif;\">Learn how to design and build production-ready Gen AI agents from scratch in my comprehensive course!</p>\n<p style=\"margin: 0 0 16px 0; font-size: 15px; color: white; font-weight: 500; font-family: 'Poppins', Arial, sans-serif;\">✨ <strong>Building Gen AI Agents for Enterprise: Beyond the Hype</strong></p>\n<p style=\"margin: 0 0 20px 0; font-size: 13px; color: rgba(255,255,255,0.8); font-family: 'Poppins', Arial, sans-serif;\">From concept to deployment • Real enterprise solutions</p>\n<a href=\"https://maven.com/boring-bot/ml-system-design\" style=\"background: white; color: #FF6B35; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: 600; font-size: 14px; font-family: 'Poppins', Arial, sans-serif; display: inline-block; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\" target=\"_blank\">\n🎓 Enroll Now - 20% OFF with Stanford20\n</a>\n<p style=\"margin: 12px 0 0 0; font-size: 12px; color: rgba(255,255,255,0.8); font-family: 'Poppins', Arial, sans-serif;\">Limited time offer • Join 500+ students already enrolled</p>\n</div>\n\n<div style=\"text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e1e8ed;\">\n<p style=\"color: #7f8c8d; font-size: 12px; margin: 0; font-family: 'Poppins', Arial, sans-serif;\">Powered by AI Travel Agent</p>\n</div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        740,
        400
      ],
      "id": "42e32d0b-99a3-4e7b-9992-52bce2f76023",
      "name": "Gmail",
      "webhookId": "f9e010e9-cae1-4fa0-af40-5543a88d0421",
      "credentials": {
        "gmailOAuth2": {
          "id": "3jyx45aKvHqjrGjM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        740
      ],
      "id": "ff65cbc2-7fb2-43b4-be02-ada03d2ecbe9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1NYcjHdurohDfhOk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"search_summary\": {\n            \"type\": \"string\",\n            \"description\": \"Detailed summary of the search query and results overview\"\n        },\n        \"total_listings_found\": {\n            \"type\": \"integer\",\n            \"description\": \"Total number of listings returned\"\n        },\n        \"search_location\": {\n            \"type\": \"string\",\n            \"description\": \"Primary search location/destination\"\n        },\n        \"guest_count\": {\n            \"type\": \"integer\",\n            \"description\": \"Number of guests the search was for\"\n        },\n        \"price_range\": {\n            \"type\": \"string\",\n            \"description\": \"Price range of all listings (e.g., '$489 - $879 USD for 5 nights')\"\n        },\n        \"listings\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"property_name\": {\n                        \"type\": \"string\",\n                        \"description\": \"Property/listing name or title\"\n                    },\n                    \"property_link\": {\n                        \"type\": \"string\",\n                        \"description\": \"Direct Airbnb listing URL\"\n                    },\n                    \"location_details\": {\n                        \"type\": \"string\",\n                        \"description\": \"Specific location (neighborhood, area, city)\"\n                    },\n                    \"property_type\": {\n                        \"type\": \"string\",\n                        \"description\": \"Type of accommodation (villa, private room, entire home, etc.)\"\n                    },\n                    \"standout_features\": {\n                        \"type\": \"string\",\n                        \"description\": \"Key features that make this property special (pool, beach access, views, etc.)\"\n                    },\n                    \"why_recommended\": {\n                        \"type\": \"string\",\n                        \"description\": \"Detailed reasons why this property matches the user's search criteria. Please add as many details as possible\"\n                    },\n                    \"value_assessment\": {\n                        \"type\": \"string\",\n                        \"enum\": [\"Excellent Value\", \"Good Value\", \"Premium Pricing\", \"Budget Option\"],\n                        \"description\": \"Value for money assessment\"\n                    },\n                    \"guest_rating\": {\n                        \"type\": \"number\",\n                        \"description\": \"Average guest rating out of 5.0\"\n                    },\n                    \"review_count\": {\n                        \"type\": \"integer\",\n                        \"description\": \"Total number of reviews\"\n                    },\n                    \"total_price\": {\n                        \"type\": \"string\",\n                        \"description\": \"Total price for the stay period\"\n                    },\n                    \"cancellation_policy\": {\n                        \"type\": \"string\",\n                        \"description\": \"Cancellation policy details\"\n                    },\n                    \"booking_urgency\": {\n                        \"type\": \"string\",\n                        \"enum\": [\"High\", \"Medium\", \"Low\"],\n                        \"description\": \"Recommended booking urgency based on availability and demand\"\n                    },\n                    \"target_traveler\": {\n                        \"type\": \"string\",\n                        \"description\": \"Who this property is best suited for (couples, families, solo travelers, etc.)\"\n                    }\n                },\n                \"required\": [\n                    \"property_name\",\n                    \"property_link\",\n                    \"location_details\",\n                    \"property_type\",\n                    \"standout_features\",\n                    \"why_recommended\",\n                    \"value_assessment\",\n                    \"guest_rating\",\n                    \"review_count\",\n                    \"total_price\",\n                    \"cancellation_policy\",\n                    \"booking_urgency\",\n                    \"target_traveler\"\n                ]\n            }\n        },\n        \"recommendation_summary\": {\n            \"type\": \"string\",\n            \"description\": \"Overall recommendation and next steps for the traveler\"\n        },\n        \"additional_search_link\": {\n            \"type\": \"string\",\n            \"description\": \"Link to browse more options on Airbnb\"\n        }\n    },\n    \"required\": [\n        \"search_summary\",\n        \"total_listings_found\", \n        \"search_location\",\n        \"guest_count\",\n        \"price_range\",\n        \"listings\",\n        \"recommendation_summary\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        520,
        740
      ],
      "id": "fe8982e2-57f5-4f12-acf6-2860fd551727",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You need to rewrite below in to a specific format, make sure you output all examples Please add as much detail as possible from the descriptions:  {{ $json.output }}\n\nMake sure your reasoning is top notch and as DETAILED as possible. Please make sure all the outputs are present, if the answer isn't available, please guess\n\nIf there is no listing, say Unfortunately we couldn't find listings that you were looking for",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        260,
        480
      ],
      "id": "3b574717-5d26-4803-8c12-d19a08331dac",
      "name": "Output Parser",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "🌟 **WORKFLOW START**\n\nReceives user search requests via webhook\n\n**Expected Input:**\n- query.query (search terms)\n- query.email (user email)",
        "height": 300,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        160
      ],
      "id": "25560f4f-3d7b-49a1-a9dc-48a14b4385f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🤖 **AI AGENT CORE**\n\nMain AI agent that:\n- Processes search requests\n- Uses MCP tools for Airbnb\n- Maintains conversation memory\n- Returns raw search results",
        "height": 300,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        260
      ],
      "id": "0aa23849-0fab-426a-84dd-7a4df94be965",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🛠️ **MCP TOOLS**\n\nAirbnb integration tools:\n- List available tools\n- Execute search queries\n- Fetch real-time data\n- Return structured results",
        "height": 200,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        860
      ],
      "id": "2c140c0e-10cf-42b7-9262-f43e266fb408",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🎯 **STRUCTURED OUTPUT**\n\nDefines exact JSON schema:\n- Property details\n- Ratings & reviews\n- Pricing information\n- Booking urgency\n- Recommendations",
        "height": 200,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        700
      ],
      "id": "5c9e31c4-c79a-42db-b6c0-547056ee80aa",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "🔧 **TECHNICAL SETUP:**\n- OpenAI GPT-4o-mini for main agent\n- GPT-4o for output formatting\n- MCP Client for Airbnb integration\n- Gmail OAuth for email delivery",
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        520
      ],
      "id": "66b36148-0ab7-46d0-bccf-c030476da41c",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AirBNB MCP AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AirBNB MCP AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client List Tool": {
      "ai_tool": [
        [
          {
            "node": "AirBNB MCP AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "AirBNB MCP AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AirBNB MCP AI Agent": {
      "main": [
        [
          {
            "node": "Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AirBNB MCP AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1725aaf255f271a2cb370b9051de0a61864aaf0b262c35ad3f624929f92bfcff"
  }
}
