linkedpost-human-in-the-loop/linkedin-post-v2.json
{
  "name": "linkedin-post-v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        -1776
      ],
      "id": "b8173f7d-c199-43f7-9844-848397d58c04",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1504,
        -1776
      ],
      "id": "8edc9ba8-3cef-41d2-ad49-c8b7e30c9e63",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5321485-5348-4ca3-83af-3daf61b150d0",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "705a2b08-41fa-4764-b533-c855249eac53",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "b56b4d7d-9b6d-468f-a8c6-2ba9f2b13414",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -1776
      ],
      "id": "803a1d25-b9c5-4b68-8729-3363ab1cca27",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "news",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1056,
        -1776
      ],
      "id": "656586da-f6e7-4fd3-9587-8a8ef26a00e1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I am creating daily LinkedIn posts about cutting-edge AI developments. Help me pick one highly technical article focusing on advanced AI, GenAI, or LLM topics. Prioritize in-depth technical content over generic AI announcements.\nFocus areas:\n\nNovel AI architectures and methodologies\nAdvanced reasoning systems and cognitive capabilities\nSpecific technical breakthroughs from leading AI companies (OpenAI, Anthropic, Mistral, Google DeepMind, etc.)\nSpecialized AI agents (coding, research, multimodal)\nTechnical deep-dives into model capabilities and limitations\nEmerging AI safety and alignment research\nPerformance benchmarks and evaluation methodologies\n\nExamples of good topics:\n\n\"OpenAI's o1 reasoning model architecture analysis\"\n\"Anthropic's Constitutional AI implementation details\"\n\"Advanced retrieval-augmented generation techniques\"\n\"Multi-agent system coordination mechanisms\"\n\"Technical analysis of latest coding agents\"\n\"LLM fine-tuning methodologies for specific domains\"\n\nAvoid:\n\nGeneric \"AI is transformative\" articles\nBasic introductions to AI concepts\nSurface-level company announcements\nGeneral AI adoption stories\n\nReturn one specific technical article that would engage an audience of AI practitioners, researchers, and technical professionals.\nMake sure the article is from the list given\n```\n{{ JSON.stringify($json.news) }}\n```",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -848,
        -1776
      ],
      "id": "f84624a3-afef-405e-a51f-6c8d73401e2a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"articles\": [{\n      \"title\": \"\",\n      \"link\": \"\"\n    }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -560,
        -1536
      ],
      "id": "bb70b577-6305-4918-832e-70025cbd4e4f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1504,
        -1328
      ],
      "id": "49bd2648-5a97-495c-9fb9-56d71aa8a22b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -1328
      ],
      "id": "dcf8c1fc-eddf-43d7-905a-ca09aec271cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title[data-react-helmet=\"true\"]"
            },
            {
              "key": "body",
              "cssSelector": "main",
              "returnArray": true
            },
            {
              "key": "meta",
              "cssSelector": "meta[name=\"description\"]",
              "returnValue": "attribute",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "meta[property=\"og:url\"]",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -1328
      ],
      "id": "11810831-cf5e-4d18-9bc8-ad5ce4cd7b42",
      "name": "HTML"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -848,
        -1328
      ],
      "id": "2c1d7591-7b0e-46e1-ae5d-f5bba7d6a170",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a LinkedIn post using the article below, targeted specifically at AI developers and practitioners who are already well-versed in the field.\n<instructions>\n- Start with a compelling 2-3 sentence hook that immediately highlights the technical significance and relevance to AI developers\n- Use the article title as your main topic focus\n- Write for an audience of experienced AI professionals - assume deep technical knowledge\n- Avoid generic AI hype language or introductory explanations\n- Use plain text formatting only (no markdown, bold, or headers)\n- Structure the post as follows:\n  1. Hook (2-3 sentences explaining why this matters for AI developers)\n  2. Key technical insights from the article\n  3. Developer implications (why this is important for their work)\n  4. Article link\n- Use bullet points where appropriate for clarity\n- Focus on actionable insights, technical details, and practical implications\n- Keep the tone professional but engaging\n- Highlight specific technical aspects that would impact development workflows, model performance, or implementation strategies\n</instructions>\n\n<articles>\n{{ JSON.stringify($json.article) }}\n</articles>"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1264,
        -864
      ],
      "id": "6612482c-75f4-41c9-89f5-6e49149c5e08",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the following linkedin post to match the style of the example post.\nMake sure to keep it as plain text.\n\n<ExamplePost>\n{{ $('Writing style').item.json.your_style }}\n</ExamplePost>\n\n<Article>\n{{ $json.text }}\n</Article>"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -896,
        -864
      ],
      "id": "9891b05a-ff02-4709-bfaf-75617bfeb7f1",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "hamza@traversaal.ai",
        "subject": "[action required] LinkedIn post approval is needed",
        "message": "={{ $json.linkedin_post }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve the post?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "yes"
                  },
                  {
                    "option": "no - I'll add my change requests below"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Change requests",
              "fieldType": "textarea",
              "placeholder": "Add your change requests here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -688,
        -384
      ],
      "id": "e67ae737-ccb2-49a0-a4c9-91c0045daf0f",
      "name": "Gmail",
      "webhookId": "1b16f0aa-aa5f-431f-8e85-247f4e981d6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "sJUDcSpEX8X6cPkg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "298e856c-87fa-4751-a235-eabed33f0f43",
              "leftValue": "={{ $json.data['Do you approve the post?'] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        -384
      ],
      "id": "3b83d7a6-0347-4a91-8e71-a5324a89e012",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Apply the modification requests on the following LinkedIn post. Besides applying the reqested modifications, return the same linkedin post.\n\nLinkedIn post:\n```\n{{ $('Edit Fields1').item.json.linkedin_post }}\n```\n\nChange requests:\n{{ $json.data['Change requests'] }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -768,
        -16
      ],
      "id": "86ffd3ec-d832-40e2-bb30-c842c89934b0",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"modified_post\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -528,
        224
      ],
      "id": "fcdcac02-84b3-4a62-aea7-18fba65dc4f7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a593cd1a-0603-4b52-9d1f-2f2f717651ff",
              "name": "linkedin_post",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -384
      ],
      "id": "158d0c4f-4a63-469a-b8c9-a50cd9e57a7a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2075dc4-d6b0-46d9-aad8-247c054432ec",
              "name": "text",
              "value": "={{ $json.output.modified_post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -16
      ],
      "id": "33e5cfa8-f2f0-4d65-9711-376363473858",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "person": "F_0mve6gG0",
        "text": "={{ $('Edit Fields1').item.json.linkedin_post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        208,
        -400
      ],
      "id": "7d4d6ca8-c384-440e-9f09-19e10d5b7993",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "EMQid4aFLieuPglb",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -368
      ],
      "id": "8cfefb68-1b54-4aaf-889d-88f29b1cd296",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "2TquM2rI5d0wQeOG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -384
      ],
      "id": "5e86fcc5-11bf-4b83-9216-45d8b129d794",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "2TquM2rI5d0wQeOG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Gather news articles",
        "height": 80,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -1904
      ],
      "id": "8e39207f-5c89-4a4a-b1d3-c0fb29216932",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3474133c-bf58-4e48-aa50-bcebd919dc5b",
              "name": "your_style",
              "value": "=😇 This looks like a really interesting session to attend. The creators of A2A will be talking about the vision, how it’s used, how to integrate it, and doing a live Q&A.\n\nA2A hasn’t caught on as much as MCP yet, probably because it’s still early and is betting on multi-agent systems at a time when most enterprises are still figuring out single-agent deployments. \n\nBut I’m curious to hear what they're thinking and what the road ahead looks like for practitioners building agents.\n\nWhat you’ll learn (copied from the event page):\n⛳ Roadmap: Aligning on the Agent2Agent protocol milestones\n⛳Best practices: Defining A2A protocol best practices and optimal use cases\n⛳Path to production: Supporting the partner journey from exploration to production\n⛳OSS contribution: Structuring contributions via GitHub and managing the A2A protocol lifecycle\n⛳Value proposition: Understanding how Agent2Agent protocol empowers teams building agentic systems\n⛳Model Context Protocol (MCP) and Agent2Agent protocol: Overview and primer\n⛳Market opportunity: Exploring the broader implications and opportunities for the software industry\n⛳Enablement preview: Offering an early look at the developing “A2A Ready” program framework\n\n\nHere’s the registration link, it’s a free session: https://lnkd.in/eSMjZ-cE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -1776
      ],
      "id": "b02954ab-77d3-42b3-ad9d-56c395593ad4",
      "name": "Writing style"
    },
    {
      "parameters": {
        "content": "# Edit your writing style",
        "height": 340,
        "width": 190,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1968,
        -1968
      ],
      "id": "ef696b75-5f6b-4b33-bed8-11d99a8bd9c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Download article content",
        "height": 80,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -1440
      ],
      "id": "c63e1d1a-54f7-4825-b09f-3bb678ce18d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Create LinkedIn post content",
        "height": 80,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        -976
      ],
      "id": "1dc7b35d-9c7d-4a86-a279-2f00a6cdb72a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Approval process",
        "height": 80,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -496
      ],
      "id": "41634333-1e73-4ac7-8030-81ace0f58fe2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Edit the post",
        "height": 80,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        -144
      ],
      "id": "1726bd95-0a55-48ed-a528-a0c067dcf49f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Post to LinkedIn",
        "height": 260,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -480
      ],
      "id": "4c2907b4-cb20-4574-9425-ccc28df71570",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Writing style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writing style": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d8560a6-630c-4551-85b1-db30fc8e6a81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae91b28a8f4e9bf3712ba616e250324dd1f03e323957d7ae95720d8312894a06"
  },
  "id": "nc9SkLky9xwvLbDt",
  "tags": []
}