201-basic-webhook/201_basic_webhook.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "You are a simple AI for demonstrating how wording in a prompt changes the response.\n\nRules:\n- Keep replies short (2–3 sentences).\n- Use clear, everyday language.\n- If the request is vague, give a general answer and point out that adding detail would improve it.\n- If the request is more specific, show how the answer becomes more tailored.\n\nExamples:\nUser: \"Tell me about Paris\"\nAI: \"Paris is a city in France, known for landmarks like the Eiffel Tower.\"\nAI note: \"That was general because the prompt was general.\"\n\nUser: \"Tell me about Paris as a foodie\"\nAI: \"Paris is famous for bakeries, cafés, and Michelin-starred restaurants.\"\nAI note: \"The extra detail shaped the answer.\"\n\nUser: \"I have eggs and rice\"\nAI: \"You could make a quick fried rice by scrambling the eggs with rice and vegetables.\"\nAI note: \"Listing ingredients helps me suggest something specific.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-96, -32],
      "id": "04c66547-ebec-464b-a27f-015c6988c11c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-88, 192],
      "id": "52a31245-e139-4ef5-a768-778cfc0e9998",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AC6qDxlfvN76eReA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [64, 192],
      "id": "6fbf4dd6-51a0-4872-bf97-1f93e32042d2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d07234fb-2723-4a87-bb36-5503e89213b6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-320, -32],
      "id": "609e5aa0-5c6e-47a7-a83c-5b4b31230d3a",
      "name": "Webhook",
      "webhookId": "d07234fb-2723-4a87-bb36-5503e89213b6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [256, -32],
      "id": "56c90ab4-6895-421c-923b-dc7263a35236",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "🌐 WEBHOOK (POST)\nReads JSON under body.*\n\nExpected keys:\n- query (string, required)\n- username (string, recommended) → session key\n\nExample body:\n{\n  \"query\": \"Two fun facts about Sydney\",\n  \"username\": \"demo-user-1\"\n}\n",
        "height": 200,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-384, -256],
      "typeVersion": 1,
      "id": "6f30eb86-7cbe-4384-ad2d-fdd1aeb87167",
      "name": "Overview Explanation1"
    },
    {
      "parameters": {
        "content": "↩️ RESPOND TO WEBHOOK\nReturns AI reply to the caller\n- Plain text or small JSON (config)\n- Keep it simple for this level\n",
        "height": 120,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [384, -160],
      "typeVersion": 1,
      "id": "50417243-d1ac-468a-b35d-89d5a1966993",
      "name": "Overview Explanation2"
    },
    {
      "parameters": {
        "content": "🧠 AI AGENT (rules)\n- Short replies (2–3 sentences)\n- Plain language\n- If vague → general answer + suggest adding detail\n- If specific → tailor the answer\n",
        "height": 184,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-32, -240],
      "typeVersion": 1,
      "id": "73afa2c7-4e50-40c1-9a85-eb0dd3afbfb5",
      "name": "Overview Explanation3"
    },
    {
      "parameters": {
        "content": "🗂️ MEMORY (window)\nsessionKey = body.username\n- Same username → shared context across calls\n- Different username → fresh session\n",
        "height": 136,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [192, 176],
      "typeVersion": 1,
      "id": "7051b379-fd49-466a-98c7-12ec2da548de",
      "name": "Overview Explanation4"
    },
    {
      "parameters": {
        "content": "🤖 OPENAI CHAT MODEL\nModel: gpt-4o-mini\n- Fast & cost-effective\n- Temperature ~0.2 for consistency\n",
        "height": 104,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-400, 160],
      "typeVersion": 1,
      "id": "4798a68e-da80-449c-bac9-29f137cc0fca",
      "name": "Overview Explanation5"
    },
    {
      "parameters": {
        "content": "# Basic Webhook → OpenAI (with Memory)\n\n🔌 **Entry Point**\n- Client sends **POST JSON** to the n8n **Webhook**\n- Reads `body.query` (required) and `body.username` (recommended)\n- Workflow must be **Active** → use the **Production URL**\n\n🧠 **AI Agent**\n- Short, plain-English replies (2–3 sentences)\n- If vague → general answer + suggest adding detail\n- If specific → tailor the answer\n\n🤖 **OpenAI Model**\n- Model: `gpt-4o-mini` (fast, cost-effective)\n- Tip: temperature ≈ **0.2** for consistency\n\n🗂️ **Memory**\n- `sessionKey = body.username`\n- Same username → shared context across calls\n- Different username → fresh session\n\n↩️ **Response**\n- Returns the AI reply to the caller (plain text or small JSON)\n\n🧪 **Test Quickly**\n- cURL / Postman / Colab (make a copy → paste **Production** Webhook URL into `url`/`WEBHOOK_URL`)\n\n🔐 **Notes**\n- Don’t send secrets in `query`\n- Ensure `Content-Type: application/json`\n- Rate limiting / auth can be added in later levels\n",
        "height": 736,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1040, -592],
      "typeVersion": 1,
      "id": "fd254bd8-c607-4cbe-973d-0cc19c939034",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "52f3ea1091e7549d03d6d6af8d10ffb0eb258a70b8ac87a64741364349b14adc"
  }
}
