Lisa-your-first-agent/lisa.json
{
  "name": "to-be-downloaded-version",
  "nodes": [
    {
      "parameters": {
        "content": "## 📝 WORKFLOW OVERVIEW\n\nThis n8n workflow provides AI-powered research assistance with two specialized tools:\n\n🌐 **Ares Internet Search** (api.traversaal.ai)\n- Real-time web search capabilities\n- Current news, trends, and general information\n- Live data from across the internet\n\n📚 **Traversaal Pro RAG** (pro.traversaal.ai) \n- Retrieval Augmented Generation\n- Searches through uploaded document collections\n- Currently configured for AWS documentation\n- Can be configured for any document corpus\n\nBoth tools work together to provide comprehensive research capabilities for the AI agent.",
        "height": 464,
        "width": 569,
        "color": 5
      },
      "id": "cd7cdd6a-db4f-4bc8-ad32-fb7cb2d17651",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🌐 ARES INTERNET SEARCH\n\n**API Endpoint:** api.traversaal.ai\n**Purpose:** Real-time internet search\n\n**Setup Required:**\n1. Get API key from Traversaal\n2. Update x-api-key header below\n3. Configure query parameter\n\n**What it does:**\n- Searches live web content\n- Returns current information\n- Perfect for news, trends, product info\n- Handles general research queries",
        "height": 419,
        "width": 310
      },
      "id": "c454c4fe-1254-48f2-9616-d66e301a7962",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        640
      ]
    },
    {
      "parameters": {
        "content": "## 📚 TRAVERSAAL PRO RAG\n\n**API Endpoint:** pro.traversaal.ai\n**Purpose:** Document-based search with RAG\n\n**Current Setup:**\n- Configured for AWS documentation\n- Uses Bearer token authentication\n- Searches uploaded document corpus\n\n**To modify for other documents:**\n1. Upload your documents to Traversaal Pro\n2. Update the Bearer token\n3. Change project IDs if needed\n\n**Best for:**\n- Company documentation\n- Technical manuals\n- Knowledge bases\n- Specific document collections\n\nDownload link: https://drive.google.com/file/d/1YpYeC9evKEIIP5qa6p6TlsZ0s12yxZz9/view?usp=sharing",
        "height": 639,
        "width": 318
      },
      "id": "3c69bddb-c4e4-4f95-b66b-c2909cab9a2e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        208
      ]
    },
    {
      "parameters": {
        "content": "## ⚡ CHAT TRIGGER\n\nStarts the workflow when a user sends a message. The message becomes available as `chatInput` for the AI agent and tools to use.",
        "height": 178,
        "width": 242
      },
      "id": "23a896b8-c7c8-46f0-a7a5-d34c13005549",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        384
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI CONFIGURATION\n\n**Model:** GPT-4o-mini\n**Memory:** Buffer window for conversation context\n**Tools:** Connected to both search APIs\n\nThe agent decides which tool to use based on the user's query:\n- Internet search for current/general info\n- RAG search for document-specific queries",
        "height": 199,
        "width": 279
      },
      "id": "86c1e7d2-af8a-4785-b360-8ef7f6e7b06f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        608
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        672,
        224
      ],
      "id": "c7f64958-379a-4d20-a9ba-3a00b4404dea",
      "name": "When chat message received",
      "webhookId": "da993f35-788d-4f94-bfe8-d63cc305c491"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        928,
        160
      ],
      "id": "2a9e4c28-1256-42d7-b0a0-09b102572963",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        448
      ],
      "id": "b8a9b360-03f0-4c0f-8eaf-9568aa8c9430",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1NYcjHdurohDfhOk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        480
      ],
      "id": "7658dd86-07a1-4b02-9f4e-e920d38f8bba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Returns answers to AWS documentation",
        "method": "POST",
        "url": "https://pro-documents.traversaal-api.com/documents/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "generation",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1728,
        400
      ],
      "id": "f93fc69c-88ce-434b-8025-f2d1a9d31dce",
      "name": "AWS Document Search"
    },
    {
      "parameters": {
        "toolDescription": "Does Internet Search",
        "method": "POST",
        "url": "https://api-ares.traversaal.ai/live/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1392,
        480
      ],
      "id": "9e8b36c3-b1ed-4a80-8aac-8de6493620ab",
      "name": "Internet Search"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AWS Document Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Internet Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f39c45f5-bfa4-40fc-8a90-be590022c8fb",
  "meta": {
    "instanceId": "1725aaf255f271a2cb370b9051de0a61864aaf0b262c35ad3f624929f92bfcff"
  },
  "id": "WHYmVEhVEVlowyxL",
  "tags": []
}
