sales-porspects-agent/ICP_builder_form_input.json
{
  "name": "ICP_Builder_With_Form",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.output.selected_feed_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        100,
        460
      ],
      "id": "6ae2d3c5-9a76-4f71-8c11-7ce0066ccd34",
      "name": "Get Remote Jobs RSS feed",
      "retryOnFail": true
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        300,
        460
      ],
      "id": "e28dc3d8-8924-4505-9aa0-21b5b5e24786",
      "name": "Limit"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1940,
        500
      ],
      "id": "e0287cec-df53-4153-af0d-f70f69de8b6d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0xhUU4uw9ecUAxih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n      \"company_name\": {\n            \"type\": \"string\",\n            \"description\": \"Company Name\"\n        },\n      \"company_link\": {\n            \"type\": \"string\",\n            \"description\": \"job url\"\n        },\n      \"tech_stack\": {\n            \"type\": \"string\",\n            \"description\": \"detailed overview of the tech stack\"\n        },\n       \"job_title\": {\n            \"type\": \"string\",\n            \"description\": \"Job title\"\n        },\n        \"company_summary\": {\n            \"type\": \"string\",\n            \"description\": \"Detailed summary of what the company likely does based on job posting\"\n        },\n        \"company_industry\": {\n            \"type\": \"string\",\n            \"description\": \"Primary industry sector based on job description clues\"\n        },\n        \"company_size_estimate\": {\n            \"type\": \"string\",\n            \"description\": \"Estimated company size (startup/small/medium/large/enterprise)\"\n        },\n        \"specific_needs\": {\n            \"type\": \"string\",\n            \"description\": \"Detailed analysis of their specific needs from the job posting that match our ICP\"\n        },\n        \"specific_challenges\": {\n            \"type\": \"string\",\n            \"description\": \"Specific challenges mentioned in the job description\"\n        },\n        \"why_perfect_match\": {\n            \"type\": \"string\",\n            \"description\": \"Specific reasons why our product/service would be valuable for their use case based on ICP\"\n        },\n        \"recommended_pitch\": {\n            \"type\": \"string\",\n            \"description\": \"Tailored pitch strategy based on their specific needs and our ICP\"\n        },\n        \"urgency_level\": {\n            \"type\": \"string\",\n            \"enum\": [\"High\", \"Medium\", \"Low\"],\n            \"description\": \"Priority level for outreach\"\n        },\n        \"key_talking_points\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            },\n            \"description\": \"5 specific talking points for outreach based on ICP match\"\n        },\n        \"budget_estimate\": {\n            \"type\": \"string\",\n            \"description\": \"Estimated budget capacity based on company indicators\"\n        }\n    },\n    \"required\": [\n        \"company_name\",\n        \"company_link\",\n        \"job_title\",\n        \"company_summary\",\n        \"company_industry\",\n        \"company_size_estimate\",\n        \"specific_needs\",\n        \"specific_challenges\",\n        \"why_perfect_match\",\n        \"recommended_pitch\",\n        \"urgency_level\",\n        \"key_talking_points\",\n        \"budget_estimate\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2160,
        460
      ],
      "id": "a22394cc-c7e2-4904-9b51-b20410e8b231",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instructions>\nYou are an expert at analyzing companies and job postings to identify prospects that match our Ideal Customer Profile (ICP). \n\n**Our ICP (Ideal Customer Profile):**\n{{ $('On form submission').item.json['Describe your Ideal Customer Profile'] }}\n\n**Your Task:**\nAnalyze this job posting thoroughly and create a comprehensive prospect assessment based on how well this company matches our ICP. This job has already been pre-filtered as a potential ICP match, so focus on extracting detailed intelligence and creating actionable outreach strategy.\n\n**IMPORTANT:** Only proceed with full analysis if this is a strong ICP match (7+ out of 10). If the company doesn't align well with our ICP after detailed review, respond with \"SKIP - Not a strong ICP match\" and provide brief reasoning.\n</Instructions>\n\n<Job_Posting_Data>\n**Company:** {{ $json.output.company_name || $json.creator }}\n**Position:** {{ $json.output.job_title || $json.title }}\n**Industry:** {{ $json.output.company_industry }}\n**Company Size:** {{ $json.output.company_size_estimate }}\n**Company Stage:** {{ $json.output.company_stage }}\n**Location:** {{ $json.output.location || 'Not specified' }}\n**Remote Work:** {{ $json.output.remote_work ? 'Yes' : 'No' }}\n**Role Level:** {{ $json.output.role_level }}\n**Tech Stack:** {{ $json.output.tech_stack }}\n**Salary Range:** {{ $json.output.salary_mentioned || 'Not specified' }}\n**Posted:** {{ $json.published_date }}\n**Job URL:** {{ $json.output.job_link}}\n**LLM Pre-Filter Score:** {{ $json.output.relevance_score }}/10\n**Pre-Filter Reason:** {{ $json.output.reason }}\n**Growth Indicators:** {{ $json.output.growth_indicators }}\n**Budget Capacity Hints:** {{ $json.output.budget_capacity_hints }}\n\n**Company Summary:** {{ $json.output.company_summary }}\n\n**Complete Job Description:**\n{{ $json.output.job_summary }}\n</Job_Posting_Data>\n\n<Analysis_Framework>\n**Since this job has been pre-qualified as ICP relevant, focus on:**\n\n1. **Deep Company Intelligence:** \n   - Validate and expand on the company profile from pre-filter\n   - Identify specific business challenges from job requirements\n   - Assess decision-making authority and procurement process\n   - Map organizational structure and key stakeholders\n\n2. **Precision ICP Alignment:**\n   - Confirm strong alignment with our ICP criteria\n   - Identify specific use cases where our solution fits\n   - Assess timing and urgency of their needs\n   - Evaluate competitive landscape and alternatives they might consider\n\n3. **Solution-Specific Value Mapping:**\n   - Map job requirements to our product capabilities\n   - Identify measurable outcomes we can deliver\n   - Calculate potential ROI and business impact\n   - Determine implementation complexity and timeline\n\n4. **Strategic Outreach Planning:**\n   - Identify optimal decision makers and influencers\n   - Craft specific value propositions for this company\n   - Determine best outreach channels and timing\n   - Prepare objection handling based on their likely concerns\n   - Set realistic deal size and timeline expectations\n\n5. **Competitive Intelligence:**\n   - Assess their current tech stack for compatibility/competition\n   - Identify gaps in their current solutions\n   - Evaluate their technical sophistication and adoption readiness\n\n**Output Focus:** Create actionable intelligence for immediate outreach with specific talking points, value propositions, and strategic approach tailored to this exact company and role.\n</Analysis_Framework>",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1960,
        220
      ],
      "id": "21c2c68d-0e1c-4a62-b516-5ebd8857939e",
      "name": "Analyze ICP Match",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['You Email'] }}",
        "subject": "=🎯 {{ $json.output.urgency_level }} Priority ICP Match: {{ $json.output.company_name}}",
        "message": "=<div style=\"font-family: 'Poppins', Arial, sans-serif; max-width: 800px; line-height: 1.6;\">\n\n<h1 style=\"color: #2c3e50; margin-bottom: 5px; font-family: 'Poppins', Arial, sans-serif;\">🏢 {{ $json.output.company_name }}</h1>\n<p style=\"color: #7f8c8d; font-size: 16px; margin-top: 0; margin-bottom: 20px; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.company_industry }} • {{ $json.output.company_size_estimate }}</p>\n\n<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n<h2 style=\"margin: 0; color: white; font-size: 24px; font-family: 'Poppins', Arial, sans-serif;\">🎯 {{ $json.output.urgency_level }} Priority ICP Match</h2>\n<p style=\"margin: 10px 0 5px 0; font-size: 18px; font-weight: bold; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.job_title }}</p>\n<p style=\"margin: 0; font-size: 14px; opacity: 0.9; font-family: 'Poppins', Arial, sans-serif;\">💰 Budget Estimate: {{ $json.output.budget_estimate }}</p>\n</div>\n\n<div style=\"background-color: #e8f5e8; padding: 15px; border-radius: 8px; border-left: 4px solid #28a745;\">\n<h3 style=\"color: #28a745; margin-top: 0; font-size: 16px; font-family: 'Poppins', Arial, sans-serif;\">⚙️ Tech Stack & Details</h3>\n<p style=\"margin: 5px 0; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.tech_stack || 'Not specified in posting' }}</p>\n<br>\n<p style=\"margin: 5px 0; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\"><strong>Industry:</strong> {{ $json.output.company_industry || 'To be determined' }}</p>\n<p style=\"margin: 5px 0; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\"><strong>Job Link:</strong> <a href=\"{{ $json.output.company_link }}\" target=\"_blank\">View Position</a></p>\n</div>\n\n<div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n<h3 style=\"color: #856404; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">🏢 Company Overview</h3>\n<p style=\"margin-bottom: 0; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.company_summary }}</p>\n</div>\n\n<div style=\"background-color: #d4edda; border-left: 4px solid #28a745; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n<h3 style=\"color: #155724; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">📊 Their Specific Needs (ICP Match)</h3>\n<p style=\"margin-bottom: 10px; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.specific_needs }}</p>\n<div style=\"background-color: rgba(255,255,255,0.7); padding: 10px; border-radius: 5px; margin-top: 10px;\">\n<strong style=\"font-family: 'Poppins', Arial, sans-serif;\">Specific Challenges:</strong><br>\n<span style=\"font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.specific_challenges }}</span>\n</div>\n</div>\n\n<div style=\"background-color: #cce5ff; border-left: 4px solid #007bff; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n<h3 style=\"color: #004085; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">🎯 Why We're a Perfect Match</h3>\n<p style=\"margin-bottom: 0; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.why_perfect_match }}</p>\n</div>\n\n<div style=\"background-color: #f8d7da; border-left: 4px solid #dc3545; padding: 20px; margin: 20px 0; border-radius: 8px;\">\n<h3 style=\"color: #721c24; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">🎯 Recommended Pitch Strategy</h3>\n<p style=\"margin-bottom: 0; font-family: 'Poppins', Arial, sans-serif;\">{{ $json.output.recommended_pitch }}</p>\n</div>\n\n<div style=\"background-color: #e2e3e5; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n<h3 style=\"color: #383d41; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">💡 Key Talking Points</h3>\n<ol style=\"margin: 0; padding-left: 20px; font-family: 'Poppins', Arial, sans-serif;\">\n{{ $json.output.key_talking_points.map(point => `<li style=\"margin: 8px 0; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\"><strong>${point}</strong></li>`).join('') }}\n</ol>\n</div>\n\n<div style=\"background-color: #17a2b8; color: white; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n<h3 style=\"color: white; margin-top: 0; font-family: 'Poppins', Arial, sans-serif;\">🔗 Next Steps</h3>\n<p style=\"margin: 8px 0; font-family: 'Poppins', Arial, sans-serif;\">📝 <a href=\"{{ $json.output.company_link }}\" style=\"color: #fff; text-decoration: underline;\">Review Full Job Posting</a></p>\n<p style=\"margin: 8px 0; font-family: 'Poppins', Arial, sans-serif;\">⏰ <strong>Action Timeline:</strong> {{ $json.output.urgency_level === 'High' ? 'Reach out within 24 hours' : $json.output.urgency_level === 'Medium' ? 'Reach out within 3 days' : 'Add to pipeline for next week' }}</p>\n<p style=\"margin: 8px 0; font-family: 'Poppins', Arial, sans-serif;\">🎯 <strong>Focus:</strong> Highlight ICP alignment and specific value proposition</p>\n<p style=\"margin: 8px 0; font-family: 'Poppins', Arial, sans-serif;\">💼 <strong>Decision Maker:</strong> Likely hiring manager or department head for this role</p>\n</div>\n\n<!-- Maven Course CTA -->\n<div style=\"background: linear-gradient(135deg, #ff6b35 0%, #ff3366 100%); color: white; padding: 25px; border-radius: 12px; margin: 30px 0; text-align: center; border: 2px solid #ff3366;\">\n<h3 style=\"color: white; margin-top: 0; font-size: 20px; font-family: 'Poppins', Arial, sans-serif;\">🚀 Want to Build Your Own AI Systems Like This?</h3>\n<p style=\"margin: 15px 0; font-size: 16px; font-family: 'Poppins', Arial, sans-serif;\">Learn how to design and build production-ready ML systems from scratch in my comprehensive course!</p>\n<p style=\"margin: 15px 0; font-size: 14px; opacity: 0.9; font-family: 'Poppins', Arial, sans-serif;\">✨ <strong>ML System Design Masterclass</strong> - From concept to deployment</p>\n<div style=\"margin: 20px 0;\">\n<a href=\"https://maven.com/boring-bot/ml-system-design?promoCode=Stanford20\" style=\"background-color: white; color: #ff3366; padding: 12px 30px; border-radius: 25px; text-decoration: none; font-weight: bold; font-size: 16px; display: inline-block; font-family: 'Poppins', Arial, sans-serif; box-shadow: 0 4px 15px rgba(0,0,0,0.2);\">\n🎓 Enroll Now - 20% OFF with Stanford20\n</a>\n</div>\n<p style=\"margin: 10px 0 0 0; font-size: 12px; opacity: 0.8; font-family: 'Poppins', Arial, sans-serif;\">Limited time offer • Join 500+ students already enrolled</p>\n</div>\n\n<div style=\"background-color: #f8f9fa; border: 1px solid #dee2e6; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n<h4 style=\"color: #495057; margin-top: 0; font-size: 14px; font-family: 'Poppins', Arial, sans-serif;\">📋 Our ICP Reference:</h4>\n<p style=\"margin: 0; font-size: 12px; color: #6c757d; font-style: italic; font-family: 'Poppins', Arial, sans-serif;\">{{ $('On form submission').item.json.icp_description }}</p>\n</div>\n\n<hr style=\"margin: 30px 0; border: none; border-top: 1px solid #dee2e6;\">\n<p style=\"text-align: center; color: #6c757d; font-style: italic; margin: 0; font-family: 'Poppins', Arial, sans-serif;\">📈 Auto-identified ICP match from active job posting • Match Score: {{ $('Loop Over Items').item.json.match_score || 'N/A' }}</p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2560,
        580
      ],
      "id": "ef16f0c4-5cb3-4642-84ff-9dffe1a3a42f",
      "name": "Send Prospect Email",
      "webhookId": "169b0a22-48f1-43a9-9cd3-046aca3f495c",
      "credentials": {
        "gmailOAuth2": {
          "id": "4ThyL93xt6WyFWB6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2900,
        580
      ],
      "id": "b154e1f2-1d50-4c75-bd49-3a0da3317018",
      "name": "Wait 5s",
      "webhookId": "f9fa67c6-75d9-4f82-951b-df26219f580f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        480
      ],
      "id": "33ff5f7d-b247-46d7-a0c1-1850a30692c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        700
      ],
      "id": "758784c9-2025-4d32-bb2e-52d0468c12cc",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0xhUU4uw9ecUAxih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ad6b919-bc9b-4188-b58c-403ce2f30a2f",
              "leftValue": "={{ $json.output.is_relevant }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1060,
        480
      ],
      "id": "00bf9862-7fb8-4331-9dec-3b42998a292c",
      "name": "Filter"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"is_relevant\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether this job matches the ICP criteria - true only for strong matches\"\n        },\n        \"relevance_score\": {\n            \"type\": \"number\",\n            \"minimum\": 0,\n            \"maximum\": 10,\n            \"description\": \"Relevance score from 0-10 where 0=no match, 10=perfect ICP match\"\n        },\n        \"reason\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of why this job does or doesn't match the ICP criteria\"\n        },\n        \"company_name\": {\n            \"type\": \"string\",\n            \"description\": \"Company name from the job posting\"\n        },\n        \"job_title\": {\n            \"type\": \"string\",\n            \"description\": \"Job title being hired for\"\n        },\n       \"job_link\": {\n            \"type\": \"url\",\n            \"description\": \"Job posting url\"\n        },\n         \"job_summary\": {\n            \"type\": \"title\",\n            \"description\": \"summary of the job\"\n        },\n        \"company_summary\": {\n            \"type\": \"string\",\n            \"description\": \"Brief summary of what the company does based on job posting context\"\n        },\n        \"company_industry\": {\n            \"type\": \"string\",\n            \"description\": \"Primary industry sector based on job description clues\"\n        },\n        \"company_size_estimate\": {\n            \"type\": \"string\",\n            \"enum\": [\"startup\", \"small\", \"medium\", \"large\", \"enterprise\"],\n            \"description\": \"Estimated company size based on job posting indicators\"\n        },\n        \"tech_stack\": {\n            \"type\": \"string\",\n            \"description\": \"Technologies, tools, and tech stack mentioned in the job posting\"\n        },\n        \"role_level\": {\n            \"type\": \"string\",\n            \"enum\": [\"junior\", \"mid\", \"senior\", \"lead\", \"manager\", \"director\", \"executive\"],\n            \"description\": \"Seniority level of the role being hired\"\n        },\n        \"remote_work\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether the role offers remote work options\"\n        },\n        \"location\": {\n            \"type\": \"string\",\n            \"description\": \"Job location if specified\"\n        },\n        \"salary_mentioned\": {\n            \"type\": \"string\",\n            \"description\": \"Salary range if mentioned in the posting\"\n        },\n        \"company_stage\": {\n            \"type\": \"string\",\n            \"enum\": [\"early_stage\", \"growth\", \"established\", \"enterprise\", \"unknown\"],\n            \"description\": \"Company growth stage based on job posting indicators\"\n        },\n        \"funding_indicators\": {\n            \"type\": \"string\",\n            \"description\": \"Any mentions of funding, investment, or financial backing\"\n        },\n        \"team_size_hints\": {\n            \"type\": \"string\",\n            \"description\": \"Indicators about team size or department structure\"\n        },\n        \"growth_indicators\": {\n            \"type\": \"string\",\n            \"description\": \"Signs of company growth, expansion, or scaling mentioned in posting\"\n        },\n        \"company_indicators\": {\n            \"type\": \"string\",\n            \"description\": \"Key indicators from the job posting that suggest ICP alignment or misalignment\"\n        },\n        \"match_confidence\": {\n            \"type\": \"string\",\n            \"enum\": [\"High\", \"Medium\", \"Low\"],\n            \"description\": \"Confidence level in the ICP match assessment\"\n        },\n        \"budget_capacity_hints\": {\n            \"type\": \"string\",\n            \"description\": \"Indicators of company budget capacity or spending ability\"\n        }\n    },\n    \"required\": [\n        \"is_relevant\",\n        \"relevance_score\",\n        \"reason\",\n        \"company_name\",\n        \"job_title\",\n        \"company_summary\",\n        \"company_industry\",\n        \"company_size_estimate\",\n        \"tech_stack\",\n        \"role_level\",\n        \"remote_work\",\n        \"company_indicators\",\n        \"match_confidence\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        760,
        700
      ],
      "id": "5a5c0517-ee1f-4dc6-b808-165434a9ebc0",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert at evaluating job postings against an Ideal Customer Profile (ICP) and extracting comprehensive company intelligence.\n\n**ICP to Match Against:**\n{{ $('On form submission').item.json['Describe your Ideal Customer Profile'] }}\n\n**Job to Evaluate:**\n- **Company:** {{ $json['dc:creator'] || 'Unknown' }}\n- **Job Title:** {{ $json.title }}\n- **Job Description:** {{ $json.contentSnippet || $json.description || $json.content }}\n- **Job URL:** {{ $json.link }}\n- **Published:** {{ $json.pubDate }}\n\n**Task:** \n1. Determine if this job posting represents a company that matches our ICP\n2. Extract comprehensive company and role information from the job posting\n3. Analyze company indicators, tech stack, and business context\n4. Not all companies have exact roles, please be linient in your rating and allow even if remotely close to ICP\n5. You should allow at least three roles\n6. Atleast three should be considered relevant\n\n**Evaluation Criteria:**\n1. Does the company type/industry align with our ICP?\n2. Does the job role suggest the company has the needs we address?\n3. Are there indicators of company size, stage, or budget that match our ICP?\n4. Would the hiring company likely benefit from our product/service?\n5. What can we infer about the company's tech stack, growth stage, and team structure?\n\n**Analysis Instructions:**\n- Set `is_relevant` to true only if this is a strong ICP match (score 7+ out of 10)\n- Score relevance 0-10 (0=no match, 10=perfect ICP match)\n- Extract all available company information from the job posting context\n- Identify technologies, tools, and technical requirements mentioned\n- Assess company size based on role scope, team mentions, and job complexity\n- Look for growth indicators like funding mentions, scaling language, expansion plans\n- Estimate company stage from hiring patterns and role descriptions\n- Be selective - only pass through jobs that are genuinely good prospects\n- Consider both the company profile AND the specific role being hired for\n\n**Information Extraction Guidelines:**\n- Company summary: Infer what the company does from job context, role requirements, and industry clues\n- Tech stack: Extract all mentioned technologies, programming languages, tools, platforms\n- Company size: Look for team size hints, department structure, role scope indicators\n- Growth stage: Identify scaling language, funding mentions, expansion indicators\n- Budget capacity: Assess from role level, tech requirements, company stage indicators\n- Industry classification: Determine primary sector from job description context\n\nProvide comprehensive analysis in the structured JSON format with all required fields filled based on available information from the job posting.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        580,
        480
      ],
      "id": "23fb3902-6fd9-4638-b095-20880c57f475",
      "name": "Filter relevant roles",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert at analyzing Ideal Customer Profiles (ICPs) and matching them to relevant job categories.\n\n**Available RSS Feed Options:**\n1. https://remotive.com/remote-jobs/feed/data - Data science, analytics, ML, AI, data engineering roles\n2. https://remotive.com/remote-jobs/feed/marketing - Marketing, growth, content, digital marketing roles  \n3. https://remotive.com/remote-jobs/feed/finance-legal - Finance, accounting, legal, compliance roles\n4. https://remotive.com/remote-jobs/feed/hr - HR, recruiting, people operations, talent acquisition roles\n5. https://remotive.com/remote-jobs/feed/software-dev - Software development, engineering, DevOps, technical roles\n\n**Your Task:**\nAnalyze the provided ICP and determine which RSS feed would contain the most relevant job postings for finding companies that match the profile.\n\n**ICP to Analyze:**\n{{ $json['Describe your Ideal Customer Profile'] }}\n\n**Analysis Criteria:**\n1. What type of companies does the ICP target?\n2. What roles/departments would most likely need the product/service described?\n3. Which job category would hiring managers from target companies most likely post in?\n4. Consider the decision makers and influencers mentioned in the ICP\n\n**Selection Logic:**\n- **Data feed**: Choose if ICP targets companies needing data science, analytics, ML, AI, business intelligence, or data-driven solutions\n- **Marketing feed**: Choose if ICP targets companies needing marketing tools, growth solutions, content platforms, or customer acquisition tools\n- **Finance-Legal feed**: Choose if ICP targets financial services, fintech, accounting firms, legal services, compliance tools, or financial software\n- **HR feed**: Choose if ICP targets HR tech, recruiting tools, people management, workforce solutions, or talent platforms\n- **Software-Dev feed**: Choose if ICP targets companies needing development tools, DevOps solutions, infrastructure, security, or general B2B software\n\n**Instructions:**\n- Return ONLY the URL of the most relevant RSS feed\n- If the ICP could match multiple categories, choose the one with the highest likelihood of decision makers\n- Consider where the budget holder for the ICP's product/service would most likely be found\n- Be decisive - select the single best match\n\n**Output Format:**\nReturn only the URL, nothing else.\n\n**Examples:**\n- ICP targeting \"SaaS companies needing customer analytics\" → data feed\n- ICP targeting \"Fintech companies hiring compliance officers\" → finance-legal feed  \n- ICP targeting \"Startups needing DevOps automation\" → software-dev feed\n- ICP targeting \"Companies hiring growth marketers\" → marketing feed\n- ICP targeting \"Companies needing recruiting automation\" → hr feed",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        580,
        -180
      ],
      "id": "232a394f-163f-4445-be8b-ff28ba5ef10d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        40
      ],
      "id": "17c33746-2fb2-42a2-84a9-6c80ed5fb374",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "0xhUU4uw9ecUAxih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"selected_feed_url\": {\n            \"type\": \"string\",\n            \"description\": \"The most relevant RSS feed URL based on ICP analysis\"\n        },\n        \"reasoning\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of why this feed was selected\"\n        },\n        \"target_roles\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            },\n            \"description\": \"List of job roles most likely to be found in this feed that match the ICP\"\n        },\n        \"confidence_level\": {\n            \"type\": \"string\",\n            \"enum\": [\"High\", \"Medium\", \"Low\"],\n            \"description\": \"Confidence level in the feed selection\"\n        }\n    },\n    \"required\": [\n        \"selected_feed_url\",\n        \"reasoning\",\n        \"target_roles\",\n        \"confidence_level\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        760,
        40
      ],
      "id": "94a6c5ac-45ab-4bee-b9c6-d5b168076482",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "formTitle": "Sales ICP Agent",
        "formDescription": "Find Perfect Customers with AI Precision\n\nAI analyzes job postings to identify prospects that match your Ideal Customer Profile—delivered automatically.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Describe your Ideal Customer Profile",
              "placeholder": "Companies with 20-500 employees focusing on content marketing",
              "requiredField": true
            },
            {
              "fieldLabel": "You Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        -180
      ],
      "id": "a551da4f-0f66-4850-94f4-ef1f954369f5",
      "name": "On form submission",
      "webhookId": "7e028b8d-47f2-4284-8225-f9545a423a39"
    },
    {
      "parameters": {
        "content": "🎯 **AI-Powered ICP Matching Workflow**\n\n\n**Overview:** \n\nThis workflow automatically identifies ideal customer prospects from job postings using AI. It analyzes your Ideal Customer Profile (ICP), finds relevant job feeds, filters opportunities, and delivers detailed prospect intelligence via email.\n\n**Flow:**\n\n1. Input Collection → ICP description + email to send ICP information to\n\n2. Smart RSS Feed Selection → AI chooses best job category and selects the right RSS feed link. RSS feeds are custom URLs that allow access site data. Custom RSS feeds can be created here: https://rss.app/\n\n3. Data Collection → Fetch latest job postings\n\n4. Initial Filtering → AI pre-screens for ICP relevance\n\n5. Deep Analysis → Comprehensive prospect evaluation which includes details about the company, the role and what services can be provided by your company\n\n6. Email Delivery → Formatted reports with actionable insights.\n\n\n**Key Features:**\n\n- Multi-stage AI filtering for precision\n- Comprehensive company intelligence extraction\n- Customized pitch recommendations\n- Priority scoring and urgency assessment\\n- Automated prospect report generation\n",
        "height": 760,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -200
      ],
      "id": "b10c4588-e272-47f3-936e-c2ae51fa5507",
      "name": "Workflow Overview"
    },
    {
      "parameters": {
        "content": "📝 **Entry Point**\n\nForm collects:\n- Ideal Customer Profile description\n- User email for prospect delivery\n\n\nTriggers the entire workflow when submitted.",
        "height": 300,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -340
      ],
      "id": "7041796d-ad68-4a24-9ade-4ff75d12237d",
      "name": "Form Input Note"
    },
    {
      "parameters": {
        "content": "🧠 **Smart Feed Selection**\n\nAI analyzes your ICP and selects the most relevant job category, example:\n- Data/Analytics roles\n- Marketing positions\n- Finance/Legal jobs\n- HR/Recruiting roles\n- Software Development\n\n\nEnsures we target the right audience from the start.",
        "height": 620,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -440
      ],
      "id": "7fc381fd-2d06-4c32-9c75-15b96127dd67",
      "name": "Feed Selection Note"
    },
    {
      "parameters": {
        "content": "📡 **Data Collection**\n\nFetches latest job postings from the selected RSS feed. Limit set to 10 jobs for efficient processing while maintaining quality prospects.",
        "height": 320,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        320
      ],
      "id": "5ba61f90-9f55-49d3-ae70-1de63f4016e6",
      "name": "Data Collection Note"
    },
    {
      "parameters": {
        "content": "🔍 **Initial AI Filtering**\n\nFirst-pass AI analysis:\n\n- Evaluates each job against your ICP\n- Extracts company intelligence\n- Scores relevance (0-10)\n- Identifies tech stack and growth indicators",
        "height": 640,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        220
      ],
      "id": "07abeefa-31a1-4ef9-8027-84067c63d6e6",
      "name": "Initial Filtering Note"
    },
    {
      "parameters": {
        "content": "✅ **Quality Filter**\n\nFilters out non-relevant jobs based on AI analysis. Only prospects marked as 'relevant' with strong ICP alignment continue through the pipeline.",
        "height": 340,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        320
      ],
      "id": "f800cd3a-46f3-4f94-9722-67216616a1f8",
      "name": "Quality Filter Note"
    },
    {
      "parameters": {
        "content": "🔄 **Batch Processing**\n\nProcesses filtered prospects one by one to:\n\n- Ensure detailed analysis quality\n- Prevent API rate limits\n- Generate personalized reports\n\n\nEach prospect gets individual attention.",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        260
      ],
      "id": "132d2928-7dbc-4978-9b52-8257536a92ea",
      "name": "Batch Processing Note"
    },
    {
      "parameters": {
        "content": "🎯 **Deep ICP Analysis**\n\nComprehensive prospect evaluation:\n\n- Validates ICP alignment\n- Identifies specific business needs\n- Maps solution value propositions\n- Creates tailored pitch strategies\n- Assesses budget and urgency\n\n\nGenerates actionable sales intelligence.",
        "height": 680,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        -40
      ],
      "id": "27fbc265-315b-4594-add4-1168fb825d90",
      "name": "Deep Analysis Note"
    },
    {
      "parameters": {
        "content": "📧 **Intelligent Email Delivery**\n\nSends beautifully formatted prospect reports containing:\n\n- Company overview and ICP match score\n- Specific needs and challenges\n- Tailored value propositions\n- Recommended pitch strategy\n- Key talking points\n- Next steps and timing\n\n\nReady-to-action sales intelligence.",
        "height": 500,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2460,
        240
      ],
      "id": "248dae42-46c5-43e9-9e5c-477cf617c174",
      "name": "Email Delivery Note"
    },
    {
      "parameters": {
        "content": "⏱️ **Rate Limiting**\n\n5-second delay between processing to:\n\n- Respect API rate limits\n- Ensure stable workflow execution\n- Maintain email deliverability\n\n\nPrevents system overload.",
        "height": 400,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2840,
        320
      ],
      "id": "3a38b18b-b401-47bd-a182-3b6c597903fe",
      "name": "Rate Limiting Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Remote Jobs RSS feed": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter relevant roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze ICP Match",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze ICP Match",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze ICP Match": {
      "main": [
        [
          {
            "node": "Send Prospect Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prospect Email": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Analyze ICP Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Filter relevant roles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Filter relevant roles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter relevant roles": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Get Remote Jobs RSS feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03e514cb-682e-48a3-8ee5-2784312efed7",
  "meta": {
    "instanceId": "9d290d25cfc5ef9b1bca02394377f3cd68b677c7c10a8b0c165f9336ea80fb7f"
  },
  "id": "OLUFP7p6ORGaHYB7",
  "tags": []
}
