blog_post_agent/blog_post_agent_webhook.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=I'm working on an article with the following topic:\n\n<TopicTitle>\n{{ $('Come up with a topic1').item.json.output.title }}\n</TopicTitle>\n\n<TopicSummary>\n{{ $('Come up with a topic1').item.json.output.summary }}\n</TopicSummary>\n\nOriginal articles we used as an inspiration to come up with the topic\n\n<InpirationArticles>\n{{ $('Come up with a topic1').item.json.output.inspirations.map(item => `<Article>\\n${item.article}\\n</Article>`).join('\\n') }}\n</InpirationArticles>\n\n\nI did a research on google and came up with the results below. Each article is the markdown content of the HTML body.\n\n<OnlineResearch>\n{{  $json.research_results.map(item => `<Article>\\n${item.summary}\\n</Article>`).join('\\n') }}\n</OnlineResearch>\n\nWrite an detailed, long, engaging article on the subject, make sure to structure the article well, breaking the long text with lists, using bold, etc..\n\nMake sure that the output is in JSON format as follows:\n\n{\n  \"title\": \"title of the article\"\n  \"content\": \"content of the article\"\n}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        4240,
        496
      ],
      "id": "cc27b19e-218d-496b-9d21-5a3a46ce8e13",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "content": "# 4. Write and post the article\n\n## After creating the article, you could other LLM chains or agents to add\n- SEO keywords\n- Add personality by rewriting the content in your style\n- Adding interlinks\n- Add sources",
        "height": 240,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3808,
        176
      ],
      "id": "9ba9b64b-f6e8-4ac1-b4e9-74feec2084db",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"title\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the article\"\n        },\n        \"content\": {\n            \"type\": \"string\",\n            \"description\": \"the content of the article\"\n        }\n    },\n  \n    \"required\": [\n        \"title\",\n        \"content\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4480,
        768
      ],
      "id": "0311f9b1-0846-48ce-9f5d-a939ce7d8ac5",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.title }}\n{{ $json.output.content }}",
        "destinationKey": "content_html",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        4704,
        496
      ],
      "id": "c88fbd8f-b48e-4ffd-8923-7980eca6a69e",
      "name": "Markdown"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3088,
        1248
      ],
      "id": "d717d00e-a0cb-44c8-826c-d7285b0748f1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bEv5BFbvv9wAxSoe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "bookmarks",
        "options": {
          "destinationFieldName": "bookmark"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        496
      ],
      "id": "971fcedb-96d9-4d52-88e8-c26bdfb0ffb0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "bookmarks",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        496
      ],
      "id": "5ed690dc-83e1-44bf-8dcf-3221d8132ea8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"ai_bookmarks\": {\n            \"type\": \"array\",\n            \"description\": \"user name\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"title\": {\n                        \"type\": \"string\"\n                    },\n                    \"link\": {\n                        \"type\": \"string\"\n                    }\n                },\n                \"required\": [\n                    \"title\",\n                    \"link\"\n                ]\n            }\n        }\n    },\n    \"required\": [\n        \"ai_bookmarks\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1808,
        768
      ],
      "id": "45ec41e0-72ad-435c-8504-561a9e315254",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "url": "https://pinboard.in/popular/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        496
      ],
      "id": "a1b98c46-6f38-4b36-8864-9e79e8e550c3",
      "name": "Get popular bookmarks"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "bookmarks",
              "cssSelector": ".display",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        368,
        496
      ],
      "id": "765e59ec-fe87-4f48-8aaa-075159bb0187",
      "name": "Extract bookmarks"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "bookmark",
        "extractionValues": {
          "values": [
            {
              "key": "link",
              "cssSelector": ".bookmark_title",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "title",
              "cssSelector": ".bookmark_title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        848,
        496
      ],
      "id": "a88e849d-64e1-4ab9-b4db-99feabf41015",
      "name": "Extract bookmark"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job is to find an interesting topic to create an article about in the AI subject. The audience is \"AI enthusiasts\".\n\nYou are presented with popular articles (title and content). Please create an idea for an article that my AI enthusiastic audience will love. They are mostly knowledge workers, managers, leaders.\n\nThe thought process you should follow:\n1. Review all the articles from below\n2. Find the most interesting one for my audience. You can combine multiple articles if it makes sense.\n3. Return the articles used for inspiration by copying them over without changing the content.\n\n<Articles>\n{{ $('Aggregate3').item.json.articles.map(item => `<Article>\\n<Title>\\n${item.title}\\n</Title>\\n<Link>\\n${item.link}\\n<\\Link>\\n<Content>\\n${item.article}\\n</Content>\\n</Article>`).join('\\n') }}\n</Articles>",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3360,
        496
      ],
      "id": "e2b23395-310d-458b-b24d-34e45c3fc54d",
      "name": "Come up with a topic1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instruction>\nYour job is to find AI and LLM related bookmarks that I can use as inspiration to write an article for my audience - mostly technical folks. Make sure you only pick bookmarks that are suitable for them.\n</Instruction>\n\n<ThoughtProcess>\nThe thought process you should follow:\n1. Review all the articles from below\n2. Find the ones that are AI and LLM related and relevant for my audience\n3. Return the title and the link of each AI related bookmarks\n\n4. Return top 3 ONLY\n\n5.Your audience is more technical\n</ThoughtProcess>\n\n<Bookmarks>\n{{ $json.bookmarks.map(bookmark => `<Bookmark>\\n<Title>${bookmark.title}</Title>\\n<Link>${bookmark.link}</Link>\\n</Bookmark>`).join('\\n') }}\n</Bookmarks>",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1520,
        496
      ],
      "id": "64bb3803-9cfd-4ef5-999c-2c5f48a723c6",
      "name": "Find trending AI bookmarks",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ai_bookmarks",
        "options": {
          "destinationFieldName": "bookmark"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2304,
        496
      ],
      "id": "bed163a6-eadf-4be9-893e-4f0743795470",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2928,
        496
      ],
      "id": "be737e5b-690e-4dea-b6c4-7d9d5cfddf2a",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7b5f308-b2e9-49f7-b9bd-4d339d96d0ee",
              "name": "article",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "2cf35a52-6c39-4109-a5b2-3ae3e45fdde3",
              "name": "title",
              "value": "={{ $('Split Out3').item.json.bookmark.title }}",
              "type": "string"
            },
            {
              "id": "41c86ac7-6301-47a8-881d-9402f76e1a06",
              "name": "link",
              "value": "={{ $('Split Out3').item.json.bookmark.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        496
      ],
      "id": "27db7528-c461-423a-b026-6459c3d0aa21",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"title\": {\n            \"type\": \"string\"\n        },\n        \"summary\": {\n            \"type\": \"string\"\n        },\n        \"inspirations\": {\n            \"type\": \"array\",\n            \"description\": \"inspirations used to create the concept for the article\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"title\": {\n                        \"type\": \"string\",\n                        \"description\": \"the title of the inspiration\"\n                    },\n                    \"link\": {\n                        \"type\": \"string\",\n                        \"description\": \"the link of the inspiration\"\n                    },\n                    \"article\": {\n                        \"type\": \"string\",\n                        \"description\": \"the content of the inspiration\"\n                    }\n                },\n                \"required\": [\n                    \"title\",\n                    \"link\",\n                    \"article\"\n                ]\n            }\n        }\n    },\n    \"required\": [\n        \"inspirations\",\n        \"title\",\n        \"summary\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3488,
        784
      ],
      "id": "97ecdd84-44bd-4b61-81e5-bc85ab89b7f7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "# I recommend you to add some kind of persistency so you won't use the same bookmarks twice",
        "height": 680,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ee261e1e-31d6-4477-9016-182765eb986f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tu06eh68svmFCu0U",
          "mode": "list",
          "cachedResultName": "scrape-link"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $json.bookmark.link }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        496
      ],
      "id": "9efcf535-5d4e-491d-81d5-ad66102ebf72",
      "name": "Scrape and summarize bookmarks"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5dbor7kDHnHVsgt1",
          "mode": "list",
          "cachedResultName": "deep-research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "top_results": 3,
            "num_search_terms": 2,
            "context": "=<Instructions>\nI'd like to create an article. I already got inspirations from other articles, and came up with a title and a summary. Find the data below.\n\nI want to run a research on Google on the subject to collect even more data/inspiration. Help me to come up with search terms I can use.\nI need 4 search terms. Make sure to be creative, and give me different ones so I can get diverse search results.\n</Instructions>\n\n<Title>\n{{ $json.output.title }}\n</Title>\n\n<Summary>\n{{ $json.output.summary }}\n</Summary>\n\n<Inspirations>\n{{ $json.output.inspirations.map(item => `<Inspiration>\\n${item.article}\\n</Inspiration>`).join('\\n') }}\n</Inspirations>"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "top_results",
              "displayName": "top_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "num_search_terms",
              "displayName": "num_search_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3728,
        496
      ],
      "id": "23355748-b3d9-47b1-835a-07f958e7161e",
      "name": "Run deep research"
    },
    {
      "parameters": {
        "content": "# 1. Gather bookmarks\n\n## This section fetches trending bookmarks from Pinboard\n- Gets HTML from popular bookmarks page\n- Extracts bookmark data using CSS selectors\n- Splits out individual bookmarks for processing",
        "height": 240,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "b9245581-706d-432e-b03a-0f6bfed8fb54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 2. Pick the related bookmarks\n\n## AI filters bookmarks to find AI/LLM related content\n- Uses LLM to analyze all bookmarks\n- Filters for AI and LLM related content\n- Returns top 3 most relevant for technical audience\n- Outputs structured data with title and link",
        "height": 240,
        "width": 1060,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        208
      ],
      "id": "b267919a-fdac-41ca-b198-d5919b2f38d8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 3. Create topic, deep research\n\n## This section creates article concept and gathers research\n- Scrapes content from selected bookmarks\n- Analyzes content to create article topic and summary\n- Runs additional Google research for more data\n- Combines inspiration articles with research results",
        "height": 280,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        160
      ],
      "id": "21b9acc2-d85f-4010-87a3-b10292d695f8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Basic LLM Chain3').item.json.output.content.length }}",
              "operation": "larger",
              "value2": 2000
            }
          ]
        }
      },
      "id": "1887a3f3-4b21-4061-8bab-96c90a59708f",
      "name": "IF text longer than 2000 chars",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4720,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet firstBlock = true;\nconst content = $input.first().json.output.content;\nconst targetLength = 1200;\n\nlet startIndex = 0;\n\nwhile (startIndex < content.length) {\n  let endIndex = startIndex + targetLength;\n  \n  // If we're not at the end of the content, find a good break point\n  if (endIndex < content.length) {\n    // First, try to break at end of sentence\n    let sentenceEnd = content.lastIndexOf('.', endIndex);\n    if (sentenceEnd === -1) sentenceEnd = content.lastIndexOf('!', endIndex);\n    if (sentenceEnd === -1) sentenceEnd = content.lastIndexOf('?', endIndex);\n    \n    // If we found a sentence end and it's not too far back (within 50 chars)\n    if (sentenceEnd > startIndex && sentenceEnd > endIndex - 50) {\n      endIndex = sentenceEnd + 1; // Include the punctuation\n    } else {\n      // If no sentence end found, break at last word boundary\n      let lastSpace = content.lastIndexOf(' ', endIndex);\n      if (lastSpace > startIndex) {\n        endIndex = lastSpace;\n      }\n      // If no space found, keep original endIndex (rare edge case)\n    }\n  }\n  \n  const textSubString = content.substring(startIndex, endIndex).trim();\n  \n  // Only add non-empty blocks\n  if (textSubString.length > 0) {\n    result.push({\n      \"textSubString\": textSubString,\n      \"firstBlock\": firstBlock\n    });\n    firstBlock = false;\n  }\n  \n  startIndex = endIndex;\n  \n  // Skip any leading whitespace for next block\n  while (startIndex < content.length && content[startIndex] === ' ') {\n    startIndex++;\n  }\n}\n\nreturn result;"
      },
      "id": "78810fd2-dca0-45c1-9dbe-3819dc16cf80",
      "name": "Splits text in small chuncks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.firstBlock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ddfb34cc-05d3-49a6-8576-08c2310697c8",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5184,
        1472
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a228b447-489a-4eda-90ec-cb8f342c2fc9",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        6320,
        1584
      ]
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "=https://www.notion.so/Automated-Articles-27181d01b6b480459c3ae418b03f5fcc",
          "mode": "url"
        },
        "title": "={{ $('Markdown').item.json.output.title }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "id": "70c1a287-a87d-4a23-8bf4-b180ce3362bb",
      "name": "Creates the page and adds the first part of text",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        5856,
        1184
      ],
      "credentials": {
        "notionApi": {
          "id": "4FtTtC6BmEETKaln",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            },
            {}
          ]
        }
      },
      "id": "624224e9-acb5-4d6d-a747-f6d03e99df7b",
      "name": "Adds additional blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        6496,
        1584
      ],
      "credentials": {
        "notionApi": {
          "id": "4FtTtC6BmEETKaln",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "fc1f6fdf-7616-448a-824a-a8f34daf9b2d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        6144,
        1408
      ]
    },
    {
      "parameters": {
        "content": "# 4. Article Generation & Publishing\n\n## This section handles the final article creation\n- Generates detailed article using LLM with all research\n- Converts markdown to HTML for better formatting\n- Handles both short and long articles appropriately",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        128
      ],
      "id": "f0713da7-c3a9-4687-8508-806ea861b3a4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 5. Publishing to Notion\n\n## Long article handling for Notion API limits\n- Splits long articles into chunks (1200 chars)\n- Finds good break points at sentence boundaries\n- Creates Notion page with first chunk\n- Adds remaining chunks as additional blocks\n- Maintains proper formatting and structure",
        "height": 320,
        "width": 480,
        "color": 5
      },
      "id": "8667f33c-71ce-413b-bfd2-53ae16c75424",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        1216
      ]
    },
    {
      "parameters": {
        "content": "# 6. Finalizing & Notifications\n\n## Final steps for article completion\n- Adds reference links from research\n- Sends email notification with article link\n- Ensures proper formatting and structure\n- Provides easy access to published content",
        "height": 240,
        "width": 480,
        "color": 6
      },
      "id": "0dfb7867-2267-48c5-a983-4d5edb9ba24b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6576,
        944
      ]
    },
    {
      "parameters": {
        "maxItems": "=3"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2080,
        496
      ],
      "id": "d0b380a0-23cf-4806-9cf9-9445cb37f0d9",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "youremail@gmail.com",
        "subject": "You have a new article:  {{ $('Creates the page and adds the first part of text').item.json.properties.title.title[0].text.content }}",
        "message": "=Link to article: {{ $('Creates the page and adds the first part of text').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6672,
        1136
      ],
      "id": "6634a4cb-bb03-4208-ad58-e2b3d8d2b8ee",
      "name": "Gmail",
      "webhookId": "e5a77619-d7e1-4476-a536-11ce527767a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "7uF79nL2XzAG76Zc",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Merge1').item.json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "textContent": "References"
            },
            {
              "type": "numbered_list_item",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Run deep research').item.json.research_results[0].link }}",
                    "isLink": true,
                    "textLink": "={{ $('Run deep research').item.json.research_results[0].link }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "numbered_list_item",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Run deep research').item.json.research_results[1].link }}",
                    "isLink": true,
                    "textLink": "={{ $('Run deep research').item.json.research_results[1].link }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "numbered_list_item",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Run deep research').item.json.research_results[2].link }}",
                    "isLink": true,
                    "textLink": "={{ $('Run deep research').item.json.research_results[2].link }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "numbered_list_item",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Run deep research').item.json.research_results[3].link }}",
                    "isLink": true,
                    "textLink": "={{ $('Run deep research').item.json.research_results[3].link }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        7008,
        1584
      ],
      "id": "9bf4e175-5c95-4161-922e-4e638f232a12",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "4FtTtC6BmEETKaln",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6736,
        1584
      ],
      "id": "65e4d3fb-aa16-4ecb-b9d2-b8ae68784d79",
      "name": "Limit1"
    },
    {
      "parameters": {
        "content": "# Content Scraping & Analysis\n\n## This section processes selected AI bookmarks\n- Calls external workflow to scrape bookmark content\n- Summarizes and analyzes each article\n- Prepares data for topic generation\n- Combines title, link, and content for each source",
        "height": 320,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        144
      ],
      "id": "6556a193-6223-49f4-a231-aa8c628ce1f2",
      "name": "Sticky Note Scraping"
    },
    {
      "parameters": {
        "content": "# Text Length Management\n\n## Handles articles that exceed Notion API limits\n- Checks if article content > 2000 characters\n- If short: publishes directly to Notion\n- If long: splits into manageable chunks\n- Ensures proper text boundaries for readability",
        "height": 320,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4928,
        800
      ],
      "id": "4ca22812-2344-4391-921b-42006e81d0cf",
      "name": "Sticky Note Length"
    },
    {
      "parameters": {
        "content": "# Smart Text Chunking\n\n## Intelligently splits long articles\n- Target chunk size: 1200 characters\n- Finds sentence boundaries for clean breaks\n- Falls back to word boundaries if needed\n- Maintains article flow and readability\n- Marks first chunk for page creation",
        "height": 280,
        "width": 420,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4944,
        1472
      ],
      "id": "59227e3d-02cd-43e7-8324-d46300341eb5",
      "name": "Sticky Note Chunking"
    },
    {
      "parameters": {
        "content": "# Notion Page Creation Logic\n\n## Handles different content types\n- First chunk: Creates new Notion page with title\n- Subsequent chunks: Added as blocks to existing page\n- Merges page URL with remaining content\n- Maintains proper document structure",
        "height": 300,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5648,
        1408
      ],
      "id": "54583ee7-b22f-4868-bcb5-3020330d9daa",
      "name": "Sticky Note Notion Logic"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14fddea3-5947-4780-ac74-19c9826c1d8e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        496
      ],
      "id": "ff1342cb-5971-4a62-b149-a223603e7c7c",
      "name": "Webhook",
      "webhookId": "14fddea3-5947-4780-ac74-19c9826c1d8e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output[\"title\"] }}\n{{ $json.output[\"content\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5184,
        496
      ],
      "id": "84e0ed02-23af-449a-8325-3a683b8e9510",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook \nSend the whole article in response to the webhook to display at the lovable frontend.",
        "height": 112,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5024,
        368
      ],
      "typeVersion": 1,
      "id": "2b05576c-19d3-4274-98a2-6fe33863a812",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "IF text longer than 2000 chars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Find trending AI bookmarks",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Come up with a topic1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Find trending AI bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Find trending AI bookmarks",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get popular bookmarks": {
      "main": [
        [
          {
            "node": "Extract bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract bookmarks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract bookmark": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Come up with a topic1": {
      "main": [
        [
          {
            "node": "Run deep research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find trending AI bookmarks": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Scrape and summarize bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Come up with a topic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Come up with a topic1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Scrape and summarize bookmarks": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run deep research": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF text longer than 2000 chars": {
      "main": [
        [
          {
            "node": "Splits text in small chuncks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits text in small chuncks": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Creates the page and adds the first part of text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Adds additional blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates the page and adds the first part of text": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds additional blocks": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        []
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get popular bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a4ecec9555f5b06310e132d91f5a9064adeb061b91678daae338206fdb263b04"
  }
}
